
.header nav{
    display: flex;
    align-items: center;
    padding: 10px 5%;
    justify-content: center;
    align-items: center;
    
  }
  .header {
    box-shadow: 3px solid #cce9d7;
  }
 .header nav ul{
    flex: 1;
    text-align: right;
  
  }
 .header nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
  }
   
  .header  nav ul li a{
    text-decoration: none;
    color: white;
    transition: 0.2s;
  }
  .header  nav ul li a:hover{
    color: #cce9d7;
    font-family: cursive;
   }
   @media  (max-width: 770px) {
    .header {
      float: none;
      width: 100%;
    }
    
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s linear;
    font-family: 'popins', sans-serif ;
}
body{
  background-image: linear-gradient(rgb(0, 0, 0, 0.2) , rgba(233, 109, 109, 0.6) ),
  url('free-photo-of-close-up-of-cake-with-fruit.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
    
}
.wrapper{
    margin: 10px auto;
    padding: 0 10%;
    padding-bottom: 10px;
    text-transform: capitalize;
}
.wrapper .btn1{
    color: #f050ad;
    text-align: center;
    font-size: 45px;
    padding-bottom: 15px;
    text-shadow:  0 15px 10px rgb(0, 0, 0, 0.2);
    font-family: cursive;
    cursor: pointer;
    padding:8px 15px ;
    outline: none;
    border: none;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px
}
.container{
    margin-top: 40px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    margin-right: 150px;
    margin-left: 150px;

}

.box{
    width: 100%;
    padding: 20px; 
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.2);

}
.box:hover{
    letter-spacing: 1px;
       transform: scale(1.03);
       box-shadow: 0 10px 15px rgb(0, 0, 0,0.3);    
       cursor: pointer;
}
.box img{
    height: 100px;
    width: 50%;
}
.box h3{
    color: #444;
    padding: 10px 0;
    font-size: 20px;
}
.box p{
    color: #777;
    font-size: 14px;
    line-height: 1.6;
}
.btn{
    color: #fff;
    padding:8px 15px ;
    outline: none;
    border: none;
    font-size: 15px;
    background-color: #444;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover{
       letter-spacing: 1px;
       transform: scale(1.03);
       box-shadow: 0 10px 15px rgb(0, 0, 0,0.3); 
       background-color: #e2619d;      

}
@media screen and (max-width:780px) {
    .wrapper{
        padding: 20px;
    }
    .box p{
      display: none;
    }
    .container{
      grid-template-columns: 1fr;

    }
    .box{
      width: 100%;
    }
    .box img{
      height: 70px;
      width: 60%;
    }
}
/* Footer */
footer .container2{
    background-color: #777;
    color: black;
}
footer .footer-cols {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    text-align: left;
    font-size: 14px;
    color: black;
  }
  
  footer .footer-cols ul {
    list-style: none;
    color: black;
  }
  footer .footer-cols a {
    text-decoration: none;
    color: black;
    
  }
  
  footer .footer-cols ul li:first-child {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    border-bottom: #444 solid 1px;
    margin-bottom: 1rem;

  }
  
  footer .footer-bottom {
    background-color: wheat;
    text-align: center;
    padding: 1rem;
    color: black;
  }
  .container1 {
    max-width: 1180px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
    line-height: 1.6;
  }
  .gift-cards {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
  img{
    width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
    height: 360px;
  }
  .bg-light{
    color: #ceceeb;
    font-family: 'pt san, sans-serif';
    background-color: #252529;
  }
  p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
@media screen and (max-width: 780px) {
    .gift-cards {
      grid-template-columns: 1fr;
    }
  
    footer .footer-cols {
      display: none;
    }
  }
  
